@page
@model RazorPages.Pages.Person.DisplayAllModel
@{
}

<partial name="_Message" />
<h3>Persons</h3>

<a asp-page="Create" class="btn btn-success my-2">Add Person</a>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Person in Model.People)
            {
                <tr>
                    <td>@Person.Name</td>
                    <td>@Person.Email</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@Person.Id" class="btn btn-success">Edit</a>
                        <form asp-action="DisplayAll">
                            <button onclick="return confirm('Are you sure?')" asp-page-handler="Delete" asp-route-id="@Person.Id" class="btn btn-danger">Delete</button>
                        </form>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>